services/Test/designtime/ConnectPoint.Reservation_9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FZ.BusinessLayer.Reservation.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/FZ.BusinessLayer.Reservation.Responses">
  <xs:import schemaLocation="ConnectPoint.Reservation_7.xsd" namespace="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
  <xs:complexType name="SeatInventoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exceptions" nillable="true" type="q1:ExceptionInformation.Exception" xmlns:q1="http://schemas.datacontract.org/2004/07/Radixx.ConnectPoint.Exceptions"/>
      <xs:element minOccurs="0" name="seatInventory" nillable="true" type="tns:ArrayOfSeatInventoryResponseDetails">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeatInventoryResponse" nillable="true" type="tns:SeatInventoryResponse"/>
  <xs:complexType name="ArrayOfSeatInventoryResponseDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeatInventoryResponseDetails" nillable="true" type="tns:SeatInventoryResponseDetails"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeatInventoryResponseDetails" nillable="true" type="tns:ArrayOfSeatInventoryResponseDetails"/>
  <xs:complexType name="SeatInventoryResponseDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareClass" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="logicalFltId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeatInventoryResponseDetails" nillable="true" type="tns:SeatInventoryResponseDetails"/>
</xs:schema>